In [1]:
# Dependencies
import pandas as pd

In [2]:
file1 = 'Covid_clean.csv'
df1 = pd.read_csv(file1, encoding="ISO-8859-1")
file2 = 'Population_clean.csv'
df2 = pd.read_csv(file2, encoding="ISO-8859-1")
df1.head()

,state,Number of COVID-19 Cases,"COVID-19 Cases per 1,000,000 Population",Deaths from COVID-19,"COVID-19 Deaths per 1,000,000 Population"
0,United States,6535105,19910,194252,592
1,Alabama,139459,28443,2355,480
2,Alaska,6343,8671,44,60
3,Arizona,208512,28647,5322,731
4,Arkansas,70219,23268,981,325

In [3]:
df2.head()

           state  Population_Density(p/mi^2)  Population
0     New Jersey                   1215.1985     8936570
1   Rhode Island                   1021.4313     1056160
2  Massachusetts                    894.4359     6976600
3    Connecticut                    735.8695     3563080
4       Maryland                    626.6735     6083120

In [4]:
# Merge two dataframes using an inner join
merge_df = pd.merge(df1, df2, on="state")
merge_df

,state,Number of COVID-19 Cases,"COVID-19 Cases per 1,000,000 Population",Deaths from COVID-19,"COVID-19 Deaths per 1,000,000 Population",Population_Density(p/mi^2),Population
0,Alabama,139459,28443,2355,480,96.9221,4908620
1,Alaska,6343,8671,44,60,1.2863,734002
2,Arizona,208512,28647,5322,731,64.9549,7378490
3,Arkansas,70219,23268,981,325,58.4030,3039000
4,California,763171,19315,14392,364,256.3728,39937500
5,Colorado,61293,10643,1988,345,56.4012,5845530
6,Connecticut,54326,15237,4480,1257,735.8695,3563080
7,Delaware,18937,19447,617,634,504.3073,982895
8,Florida,665730,30996,12642,589,410.1259,21993000
9,Georgia,294314,27720,6333,596,186.6726,10736100
10,Hawaii,10700,7557,99,70,219.9424,1412690
11,Idaho,35279,19741,415,232,22.0970,1826160
12,Illinois,264831,20899,8546,674,228.0246,12659700
13,Indiana,106540,15825,3439,511,188.2809,6745350
14,Iowa,74896,23738,1223,388,56.9284,3179850
15,Kansas,49272,16913,534,183,35.5968,2910360
16,Kentucky,56945,12746,1060,237,113.9566,4499690
17,Louisiana,157947,33976,5252,1130,107.5174,4645180
18,Maine,4904,3648,136,101,43.6336,1345790
19,Maryland,116646,19294,3839,635,626.6735,6083120
20,Massachusetts,124826,18110,9210,1336,894.4359,6976600
21,Michigan,123058,12322,6911,692,177.6650,10045000
22,Minnesota,84949,15063,1974,350,71.5922,5700670
23,Mississippi,90018,30246,2706,909,63.7056,2989260
24,Missouri,104080,16958,1731,282,89.7453,6169270
25,Montana,9107,8521,138,129,7.4668,1086760
26,Nebraska,38335,19817,434,224,25.4161,1952570
27,Nevada,73814,23964,1456,473,28.5993,3139660
28,New Hampshire,7696,5660,436,321,153.1610,1371250
29,New Jersey,196968,22176,16034,1805,1215.1985,8936570
30,New Mexico,26761,12763,823,392,17.2850,2096640
31,New York,444948,22872,33030,1698,412.5218,19440500
32,North Carolina,185780,17713,3060,292,218.2710,10611900
33,North Dakota,15831,20774,170,223,11.0393,761723
34,Ohio,137405,11755,4415,378,287.5040,11747700
35,Oklahoma,70223,17747,905,229,57.6546,3954820
36,Oregon,29337,6956,509,121,44.8086,4301090
37,Pennsylvania,150000,11717,7855,614,286.5454,12820900
38,Rhode Island,23130,21834,1075,1015,1021.4313,1056160
39,South Carolina,131864,25611,3064,595,173.3176,5210100
40,South Dakota,16801,18991,184,208,11.9116,903027
41,Tennessee,171824,25160,2078,304,167.2749,6897580
42,Texas,682227,23528,14405,497,112.8204,29472300
43,Utah,57875,18052,433,135,39.9430,3282120
44,Vermont,1696,2718,58,93,68.1416,628061
45,Virginia,134493,15757,2743,321,218.4404,8626210
46,Washington,79826,10483,1991,261,117.3273,7797100
47,West Virginia,12705,7089,267,149,73.9691,1778070
48,Wisconsin,89185,15317,1210,208,108.0496,5851750
49,Wyoming,4346,7509,42,73,5.8400,567025

In [23]:
file3 = 'obesity_clean.csv'
df3 = pd.read_csv(file3, encoding="ISO-8859-1")
file4_df = pd.DataFrame(file3, columns=['state', 'Question', 'Data_Value'])

In [24]:
merge_2 = pd.merge(merge_df, df3, on='state')

In [25]:
merge_2

,state,Number of COVID-19 Cases,"COVID-19 Cases per 1,000,000 Population",Deaths from COVID-19,"COVID-19 Deaths per 1,000,000 Population",Population_Density(p/mi^2),Population,Question,Data_Value
0,Alabama,139459,28443,2355,480,96.9221,4908620,Percent of adults aged 18 years and older who ...,36.6
1,Alabama,139459,28443,2355,480,96.9221,4908620,Percent of adults aged 18 years and older who ...,37.7
2,Alabama,139459,28443,2355,480,96.9221,4908620,Percent of adults aged 18 years and older who ...,38.6
3,Alabama,139459,28443,2355,480,96.9221,4908620,Percent of adults aged 18 years and older who ...,NaN
4,Alabama,139459,28443,2355,480,96.9221,4908620,Percent of adults aged 18 years and older who ...,31.8
...,...,...,...,...,...,...,...,...,...
1395,Wyoming,4346,7509,42,73,5.8400,567025,Percent of adults aged 18 years and older who ...,NaN
1396,Wyoming,4346,7509,42,73,5.8400,567025,Percent of adults aged 18 years and older who ...,28.2
1397,Wyoming,4346,7509,42,73,5.8400,567025,Percent of adults aged 18 years and older who ...,30.2
1398,Wyoming,4346,7509,42,73,5.8400,567025,Percent of adults aged 18 years and older who ...,28.4
1399,Wyoming,4346,7509,42,73,5.8400,567025,Percent of adults aged 18 years and older who ...,33.9

In [32]:
merge_2.drop_duplicates()

,state,Number of COVID-19 Cases,"COVID-19 Cases per 1,000,000 Population",Deaths from COVID-19,"COVID-19 Deaths per 1,000,000 Population",Population_Density(p/mi^2),Population,Question,Data_Value
0,Alabama,139459,28443,2355,480,96.9221,4908620,Percent of adults aged 18 years and older who ...,36.6
1,Alabama,139459,28443,2355,480,96.9221,4908620,Percent of adults aged 18 years and older who ...,37.7
2,Alabama,139459,28443,2355,480,96.9221,4908620,Percent of adults aged 18 years and older who ...,38.6
3,Alabama,139459,28443,2355,480,96.9221,4908620,Percent of adults aged 18 years and older who ...,NaN
4,Alabama,139459,28443,2355,480,96.9221,4908620,Percent of adults aged 18 years and older who ...,31.8
...,...,...,...,...,...,...,...,...,...
1392,Wyoming,4346,7509,42,73,5.8400,567025,Percent of adults aged 18 years and older who ...,27.4
1393,Wyoming,4346,7509,42,73,5.8400,567025,Percent of adults aged 18 years and older who ...,37.4
1394,Wyoming,4346,7509,42,73,5.8400,567025,Percent of adults aged 18 years and older who ...,30.9
1396,Wyoming,4346,7509,42,73,5.8400,567025,Percent of adults aged 18 years and older who ...,28.2
1398,Wyoming,4346,7509,42,73,5.8400,567025,Percent of adults aged 18 years and older who ...,28.4