In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [2]:
obese_data = "Obesity.csv"

In [3]:
obese_df = pd.read_csv(obese_data)

In [4]:
new_df = obese_df.loc[(obese_df['Class'] == 'Obesity / Weight Status')]

In [5]:
second_df = new_df.drop_duplicates()
second_df

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2012,2012,WY,Wyoming,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(43.235541343, -108.109830353)",OWS,OWS1,Q037,VALUE,56,Race/Ethnicity,American Indian/Alaska Native,RACE,RACENAA
1,2012,2012,DC,District of Columbia,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(38.890371385, -77.031961127)",OWS,OWS1,Q036,VALUE,11,Education,Less than high school,EDU,EDUHS
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.840571122, -86.631860762)",OWS,OWS1,Q036,VALUE,1,Age (years),25 - 34,AGEYR,AGEYR2534
7,2015,2015,RI,Rhode Island,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(41.708280193, -71.522470314)",OWS,OWS1,Q037,VALUE,44,Race/Ethnicity,Hispanic,RACE,RACEHIS
10,2011,2011,WA,Washington,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(47.522278629, -120.47001079)",OWS,OWS1,Q037,VALUE,53,Gender,Male,GEN,MALE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63017,2014,2014,OK,Oklahoma,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(35.472031356, -97.521070214)",OWS,OWS1,Q036,VALUE,40,Income,"$25,000 - $34,999",INC,INC2535
63019,2013,2013,MS,Mississippi,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.745510099, -89.538030825)",OWS,OWS1,Q036,VALUE,28,Income,"$50,000 - $74,999",INC,INC5075
63024,2014,2014,SC,South Carolina,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(33.998821303, -81.045371207)",OWS,OWS1,Q037,VALUE,45,Race/Ethnicity,2 or more races,RACE,RACE2PLUS
63025,2011,2011,MS,Mississippi,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.745510099, -89.538030825)",OWS,OWS1,Q036,VALUE,28,Race/Ethnicity,Asian,RACE,RACEASN
63026,2012,2012,MS,Mississippi,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(32.745510099, -89.538030825)",OWS,OWS1,Q036,VALUE,28,Education,Some college or technical school,EDU,EDUCOTEC

In [6]:
third_df = second_df.loc[(second_df['YearStart'] == 2018)]

In [7]:
df = third_df.drop(columns=['YearEnd', 'LocationAbbr', 'Datasource', 'Class', 'Topic', 'Data_Value_Unit', 'Data_Value_Type', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'Low_Confidence_Limit', 'Total', 'Age(years)', 'Education', 'Gender', 'Income', 'Race/Ethnicity', 'GeoLocation', 'ClassID', 'TopicID', 'QuestionID', 'DataValueTypeID', 'LocationID', 'StratificationCategory1', 'Stratification1', 'StratificationCategoryId1', 'StratificationID1'])

In [8]:
#df
new_sorted_df = df.drop(columns=['Sample_Size'])
sorted_df = new_sorted_df.loc[new_sorted_df['Question'] == 'Percent of adults aged 18 years and older who have obesity']
sorted_df

,YearStart,LocationDesc,Question,Data_Value,High_Confidence_Limit
7809,2018,National,Percent of adults aged 18 years and older who ...,31.3,31.7
7968,2018,Idaho,Percent of adults aged 18 years and older who ...,32.9,39.0
7985,2018,Indiana,Percent of adults aged 18 years and older who ...,34.2,36.2
8253,2018,South Dakota,Percent of adults aged 18 years and older who ...,32.0,39.5
8400,2018,Nevada,Percent of adults aged 18 years and older who ...,41.3,51.1
...,...,...,...,...,...
14843,2018,Kentucky,Percent of adults aged 18 years and older who ...,30.8,33.7
14845,2018,Virgin Islands,Percent of adults aged 18 years and older who ...,NaN,NaN
14848,2018,Utah,Percent of adults aged 18 years and older who ...,24.5,26.1
14850,2018,North Carolina,Percent of adults aged 18 years and older who ...,16.7,21.6
14855,2018,Maryland,Percent of adults aged 18 years and older who ...,41.8,55.2

In [9]:
final_df = sorted_df.drop(columns=['High_Confidence_Limit '])

In [10]:
final_df

,YearStart,LocationDesc,Question,Data_Value
7809,2018,National,Percent of adults aged 18 years and older who ...,31.3
7968,2018,Idaho,Percent of adults aged 18 years and older who ...,32.9
7985,2018,Indiana,Percent of adults aged 18 years and older who ...,34.2
8253,2018,South Dakota,Percent of adults aged 18 years and older who ...,32.0
8400,2018,Nevada,Percent of adults aged 18 years and older who ...,41.3
...,...,...,...,...
14843,2018,Kentucky,Percent of adults aged 18 years and older who ...,30.8
14845,2018,Virgin Islands,Percent of adults aged 18 years and older who ...,NaN
14848,2018,Utah,Percent of adults aged 18 years and older who ...,24.5
14850,2018,North Carolina,Percent of adults aged 18 years and older who ...,16.7
14855,2018,Maryland,Percent of adults aged 18 years and older who ...,41.8

In [11]:
etl_df = final_df.rename(columns={'YearStart': 'Year', 'LocationDesc': 'state', 'Question': 'question', 'Data_Value': 'data_value'})

In [12]:
final_df = etl_df.drop(index=7809, columns=['Year'])

In [13]:
final_df

,state,question,data_value
7968,Idaho,Percent of adults aged 18 years and older who ...,32.9
7985,Indiana,Percent of adults aged 18 years and older who ...,34.2
8253,South Dakota,Percent of adults aged 18 years and older who ...,32.0
8400,Nevada,Percent of adults aged 18 years and older who ...,41.3
8401,South Carolina,Percent of adults aged 18 years and older who ...,36.8
...,...,...,...
14843,Kentucky,Percent of adults aged 18 years and older who ...,30.8
14845,Virgin Islands,Percent of adults aged 18 years and older who ...,NaN
14848,Utah,Percent of adults aged 18 years and older who ...,24.5
14850,North Carolina,Percent of adults aged 18 years and older who ...,16.7
14855,Maryland,Percent of adults aged 18 years and older who ...,41.8

In [18]:
final_df = final_df.drop_duplicates(subset = 'state')

In [19]:
final_df['data_value'] = pd.to_numeric(final_df['data_value'])

C:\Users\15309\anaconda3\envs\Python_Data\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
final_df.to_csv('obesity_clean.csv', index=False)

In [21]:
rds_connection_string = "postgres:postgres@localhost:5432/ETL_Project"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [22]:
engine.table_names()

['covid_19', 'population', 'obesity']

In [23]:
final_df.to_sql(name='obesity', con=engine, if_exists='append', index=False)